{% extends 'base.html' %}

{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
    <link rel="stylesheet" href="{% static 'signup01.css' %}">
</head>

<body>
    <br><br>
    <div class="box1">
        <form method="POST" action="{% url 'signup01' %}">
            {% csrf_token %}
            <br>
            <div>

                <h4>소상공인 회원가입</h4>
            </div>

            <br><br>

            <div class="box">
                <div class="block">
                    <label for='login_id'>아이디</label>
                    <input type=" text" name="username01" placeholder="  아이디를 입력하세요." required='required' size="30">
                </div>
                <br>
                <div class="block">
                    <label for="password">비밀번호</label>
                    <input type="password" name="password01" placeholder="  비밀번호를 입력하세요." required='required' size="30">
                </div>
                <br>
                <div class="block">
                    <label for="password">비밀번호 확인</label>
                    <input type="password" name="confirm01" required='required' placeholder="  비밀번호를 다시 입력하세요."
                        size="30">
                </div>
                <br>
                <div class="block">
                    <label for='fullname'>닉네임</label>
                    <input id='fullname' name='fullname' type='text' required='required' size="30">
                </div>
                <br>
                <div class="block">
                    <label for='email'>이메일</label>
                    <class="formfield">
                        <input style="width: 100px;
                height: 25px;" type="text" id="email01" name="email01" size="10" maxlength="20" autocomplete="off"
                            required='required'> @ <input style="width: 120px;
                    height: 25px;" id="email02" size="15" name="email02" list="domains" placeholder=" 도메인입력/선택"
                            required='required'>
                        <datalist id="domains">
                            <option value="naver.com">
                            <option value="daum.net">
                            <option value="gmail.com">
                            <option value="hanmail.net">
                        </datalist>
                </div>
                <br>
                <div class="block">
                    <label>사업자등록번호</label>
                    <input style="width: 70px;
            height: 25px;" type="text" name="num1" size=3 maxlength="3" required='required'>
                    - <input style="width: 70px;
            height: 25px;" type="text" name="num2" size=2 maxlength="2" required='required'>
                    - <input style="width: 70px;
            height: 25px;" type="text" name="num3" size=5 maxlength="5" required='required'>
                </div>
                <br>
                <div class="block">
                    <label>파일첨부</label>
                    <input style="border: none;" type="file" accept="image/jpeg">
                </div>

                <br><br>
            </div>

            <br>
            <div style="text-align: center;">
                <input class="signup-input" type="submit" value="가입하기">
            </div>
        </form>

    </div>
    <br>
    <br>
    <br>
</body>
{% endblock %}

</html>