{% extends 'base.html' %}

{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
    <link rel="stylesheet" href="{% static 'signup02.css' %}">
</head>

<body>
    <br><br>

    <div class="box1">
        <form method="POST" action="{% url 'signup02' %}">
            {% csrf_token %}
            <br>
            <div>
                <h4>대학생 회원가입</h4>
            </div>
            <br><br>
            <div class="box">
                <div class="block">
                    <label for='login_id'>아이디</label>
                    <input type=" text" name="username02" placeholder="  아이디를 입력하세요." required='required' size="30">
                </div>
                <br>
                <div class="block">
                    <label for="password">비밀번호</label>
                    <input type="password" name="password02" placeholder="  비밀번호를 입력하세요." required='required' size="30">
                </div>
                <br>
                <div class="block">
                    <label for="password">비밀번호 확인</label>
                    <input type="password" name="confirm02" placeholder="  비밀번호를 다시 입력하세요." required='required'
                        size="30">
                </div>
                <br>
                <div class="block">
                    <label for='fullname'>닉네임</label>
                    <input id='fullname' name='fullname' type='text' required='required' size="30">
                </div>
                <br>
                <div class="block">
                    <label>학교 찾기</label>
                    <input id="text" name="school" type="text" required='required' size="30" placeholder=" ex)인하대학교">
                </div>
                <br>
                <div class="block">
                    <label for='email'>학교 이메일</label>
                    <input id='email' name="email" type="email" placeholder=" ex)12181234@inha.edu" required='required'
                        size="30">
                </div>
                <br>
                <div class="block">
                    <label>전공</label>
                    <input id="text" name="department" type="text" required='required' size="30" style="width: 100px;
                height: 25px;">
                    <label style="width:30px;">학년</label>
                    <input type="number" type=number min="1" max="6" required='required' size="30" style="width: 40px;
                height: 25px;">
                </div>
                <br>
                <div class="block">
                    <label> 계좌번호 입력</label>

                    <input id="bank2" name="bank2" list="accountlist" placeholder=" 은행선택" required='required' size=11
                        style="width: 100px;
                height: 25px;">
                    <datalist id="accountlist">
                        <option value="국민">
                        <option value="농협">
                        <option value="우리">
                        <option value="신한">
                        <option value="카카오뱅크">
                        <option value="하나">
                    </datalist>

                    <class="formfield"><input type="text" id="bank" name="bank" size="20" maxlength="20" style="width: 150px;
                height: 25px;" autocomplete="off" required='required' placeholder=" 계좌번호 입력 ('-' 제외)">

                </div>
                <br>
                <div class="block">
                    <label>관심분야</label>
                    <input style="width:15px;" type="checkbox" name="subject" value="디자인">
                    <p>디자인</p>
                    <input style="width:15px;" type="checkbox" name="subject" value="촬영">
                    <p>촬영</p>
                    <input style="width:15px;" type="checkbox" name="subject" value="컨설팅">
                    <p>컨설팅</p><br>
                    <label> </label>
                    <input style="width:15px;" type="checkbox" name="subject" value="프로그래밍">
                    <p>프로그래밍</p>
                    <input style="width:15px;" type="checkbox" name="subject" value="기타">
                    <p>기타</p>
                </div>
                <br><br>
                <div style="text-align: center;">
                    <input class="signup-input" type="submit" value="가입하기">
                </div>
            </div>

    </div>

    </form>

    <br>

    <br>
    <br>
</body>
{% endblock %}

</html>