{% extends 'base.html' %}

{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
    <link rel="stylesheet" href="{% static 'signup00.css' %}">
</head>


<body style="margin: 0 auto; text-align:center;">


    <br><br><br><br>
    <div class="box">
        <form method="POST" action="{% url 'signup00' %}">
            <br><br><br><br>
            <p>저는 소상공인입니다</p>
            <a style="text-decoration: none;
                color: white" href="{% url 'signup01' %}">
                <div class="signup-box">
                    소상공인 회원가입 하러가기
                </div>
            </a>

            <br><br>
            <p>저는 재능기여 대학생입니다</p>
            <a style="text-decoration: none;
                    color: white" href="{% url 'signup02' %}">
                <div class="signup-box">
                    재능기여자 회원가입 하러가기
                </div>
            </a>

        </form>
    </div>

</body>
<br>
<br>
<br>
{% endblock %}

</html>