{% extends 'base.html' %}

{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>소근소근</title>
    <link rel="stylesheet" href="{% static 'studentApply.css' %}">
</head>

<body>
    <br><br>
    <div class="box1">
        <form method="POST" action="{% url 'studentApplyTry' %}">
            {% csrf_token %}
            <br>
            <div>
                <h4>대학생 신청하기</h4>
            </div>
            <br> <br>
            <div class="box">
                <div class="block">
                    <label for='login_id'>이름</label>
                    <input type=" text" name="name" placeholder=" 이름을 입력하세요." required='required'=>
                </div>
                <br>
                <div class="block">
                    <label>학교</label>
                    <input id="text" name="school" type="text" required='required' placeholder=" ex)인하대학교">
                </div>
                <br>
                <div class="block">
                    <label for='email'>이메일</label>
                    <input id='email' name="email" type="email" placeholder=" ex)12181234@inha.edu" required='required'>
                </div>
                <br>
                <div class="block">
                    <label>전공</label>
                    <input id="text" name="department" type="text" required='required' size="30" style="width: 100px;
                height: 25px;">
                    <label style="width:30px;">학년</label>
                    <input type="number" name="grade" min="1" max="6" required='required' size="30" style="width: 40px;
                height: 25px;">
                </div>
                <br>



                <div class="block">
                    <label for='email'>전화번호</label>
                    <input id='text' name="phonenum" type="text" placeholder=" ex)01012345678" required='required'
                        size="30">
                </div>
                <br>
                <div class="block">
                    <label> 계좌번호 입력</label>

                    <input id="bank2" name="bank2" list="accountlist" placeholder=" 은행선택" required='required' size=11
                        style="width: 100px;
                height: 25px;">
                    <datalist id="accountlist">
                        <option value="국민">
                        <option value="농협">
                        <option value="우리">
                        <option value="신한">
                        <option value="카카오뱅크">
                        <option value="하나">
                    </datalist>

                    <class="formfield"><input type="text" id="bank" name="bank" size="20" maxlength="20" style="width: 150px;
                height: 25px;" autocomplete="off" required='required' placeholder=" 계좌번호 입력 ('-' 제외)">

                </div>
                <br>
                <div class="block">
                    <label style="z-index: 100;" for='applyContent'>재능기여
                        내용ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ</label>
                    <textarea id='applyContent' name='applyContent'></textarea>
                </div>
                <div class="block">
                    <label>파일첨부</label>
                    <input style="border: none;" type="file" accept="image/jpeg">
                </div>
                <br><br>
                <div style="text-align: center;">
                    <input style="cursor:pointer;" class="apply2-input" type="submit" value="신청하기">
                </div>

            </div>

        </form>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
</body>
{% endblock %}