<form action="{% url 'postcreate' %}" method="post">
    {% csrf_token %}
    <div>
        <label for="title">제목</label><br>
        <input type="text" name="title" id="title">
    </div>
    <br><br>
    <div>
        <label for="image"> 첨부파일 </label><br>
        <input type="file" name="image" id="image" value="{{onepost.image.url}}">
    </div>
    <br><br>
    <div>
        <label for="content">내용</label><br>
        <textarea name="body" id="body" cols="30" rows="10"></textarea>
    </div>
    <input type="submit" value="글쓰기">
</form>