/* 웹폰트 입니다 */
@import url('https://fonts.googleapis.com/earlyaccess/jejugothic.css');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');


.jejugothic  { 
 font-family: 'Jeju Gothic', sans-serif;
} 


            


/* 헤더입니다 */
.header {
    font-family:  'Jeju Gothic', sans-serif;
    font-size: 18px;
    color:#FFB950;

}

.box {
    margin: auto;
    width: 500px;
    height: 420px;
    border-radius: 50px;
    border: solid 1px #707070;
    background-color: #ffffff;
    border-color: #c1c1c1;
  }

.id-box,.password-box {
    
  margin: auto;
  width: 400px;
  height: 50px;
  border-radius: 15px;
  border: solid 1px #838282;
  background-color: #ffffff;
  border-color: #c1c1c1;
}

/*input 박스입니다*/

input:focus {outline:none;
} 
.id-input,.password-input {
    padding-top: 7px;
    width: 370px; 
    height: 35px; 
    background-color:transparent; 
    border:none;
}

.login-input{
    margin: auto;
    width: 200px;
    height: 50px;
    background-color:#FFB950;
    border: solid 1px #FFB950;
    border-radius: 18px;
    font-family:  'Jeju Gothic', sans-serif;
    font-size: 15px;
    color:white;

}


p{
    font-family:'Jeju Gothic', sans-serif ;
}

h4{
    font-family:'Jeju Gothic', sans-serif ;
    font-weight: normal;
    color: gray;
}

