/* 웹폰트 입니다 */
@import url('https://fonts.googleapis.com/earlyaccess/jejugothic.css');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');


.jejugothic  { 
 font-family: 'Jeju Gothic', sans-serif;
} 



.box {
    margin: auto;
    width: 500px;
    height: 420px;
    border-radius: 60px;
    border: solid 1px #ececec;
    background-color: #ffffff;
    box-shadow :1px 3px 7px #dcdcdc;
  } 

  .signup-box{
    margin: auto;
    width: 300px;
    height: 35px;
    background-color:#FFB950;
    border: solid 1px #FFB950;
    border-radius: 22px;
    font-family:  'Jeju Gothic', sans-serif;
    font-size: 15px;
    color:white;
    padding-top: 15px;
    font-size: 17px;

}


p{
    font-family:'Jeju Gothic', sans-serif ;
    color: black;
}

