/* 웹폰트 입니다 */
@import url('https://fonts.googleapis.com/earlyaccess/jejugothic.css');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');


.jejugothic  { 
 font-family: 'Jeju Gothic', sans-serif;
} 





/* 헤더입니다 */
.header {
    font-family:  'Jeju Gothic', sans-serif;
    font-size: 18px;
    color:#FFB950;

}

.box {
    margin: auto;
    width: 500px;
    height: 420px;
    border-radius: 50px;
    border: solid 1px #707070;
    background-color: #ffffff;
    border-color: #c1c1c1;
  }

  .signup-box{
    margin: auto;
    width: 300px;
    height: 35px;
    background-color:#FFB950;
    border: solid 1px #FFB950;
    border-radius: 22px;
    font-family:  'Jeju Gothic', sans-serif;
    font-size: 15px;
    color:white;
    padding-top: 15px;
    font-size: 17px;

}


p{
    font-family:'Jeju Gothic', sans-serif ;
    color: gray;
}