/* 웹폰트 입니다 */
@import url('https://fonts.googleapis.com/earlyaccess/jejugothic.css');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');


.jejugothic  { 
 font-family: 'Jeju Gothic', sans-serif;
} 

body {
    margin: 0;
    padding: 0;
}





/* 사진3개 그리드입니다 */
#grid {
    width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3vw;
    margin: auto;
    border: 20vw;
    border-color: black;
    
}

#grid>div {
    font-size: 1vw;
    background: white;
    text-align: center;
    margin-top: 115px;
    border-style:solid;
    border-width: thin;
    border-color: #c1c1c1;
    box-shadow : 2px 2px 5px #c1c1c1;
    opacity: 0.8;
    font-family: 'Noto Sans KR';

}


p {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 1em;
    line-height:30px;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 0.5em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    line-height:25px;
}

/* 메뉴 바 입니다 */
.menu-var {
    margin: auto;
    align-items: center;
    box-shadow : 2px 2px 5px #999;
}

#grid2 {
    width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2vw;
    margin: auto;
    
}

#grid2>div {
    font-size: 1vw;
    margin-top: 15px;
    text-align: center;
    opacity: 0.8;
    font-family:  'Jeju Gothic', sans-serif;
    font-weight: bolder;
    letter-spacing: 1px;
    
}
/* 하위 배너 이미지입니다 */
.footer {
    text-align:center
}

.footer {
    text-align: center;
}
