{% extends 'base.html' %}

{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="ko">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="{% static 'detail.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
        integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
</head>

<body>

    <div class="box1">
        <p style="margin-left: 110px; margin-top: 40px; margin-bottom: 10px;"> 홈> 재능공간> 자세히보기</p>
        <div class="box">
            <div class="block">
                <div class="img">
                    <img class="image-box" src="{{ onepost.image.url }}" width="500vw"><br>
                    <div class="box2">
                        <br>
                        <h3>재능기여 내용</h3>
                        <hr align="left" style="border: soild 20px rgb(241, 241, 241); width:95%; opacity: 0.4;">
                        <p>{{onepost.body |linebreaksbr}}</p>
                    </div>
                </div>
                <div class=" text-box">
                    <h1>{{onepost.title}}
                        <hr align="left" style="border: soild 20px rgb(241, 241, 241); width:95%; opacity: 0.4;">
                    </h1><br>
                    <h3>게시일</h3>
                    <p>{{onepost.created_at}}</p><br>
                    <h3>가게명</h3>
                    <p>{{onepost.name}}</p><br>
                    <h3>위 치</h3>
                    <p>{{onepost.spot}}</p><br>
                    <h3>기 한</h3>
                    <p>{{onepost.date}}</p><br>

                    <hr align="left" style="border: soild 20px rgb(241, 241, 241); width:95%; opacity: 0.4;">
                    <div style="text-align: center;" class="money">
                        <span style="color: #57dd6b;"><i class="fas fa-receipt fa-lg"></i></span>
                        <h2 style="text-align: center; display: inline-block; margin-right: 30px;">{{onepost.pay}}원</h2>
                    </div>
                    <a style="text-decoration: none;
                    color: white" href="#">
                        <div class="apply-box">
                            재능기여하기
                        </div>
                    </a>

                </div>
                </a>
            </div>
        </div>
    </div>
    <br>

    <!-- <a style="width: 10px; margin: 0 auto;" href="{% url 'home' %}">홈으로</a> -->


    <br>
    <br>
    <br>

</body>

{% endblock %}

</html>