{% extends 'base.html' %}

{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="ko">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="{% static 'home.css' %}">
</head>

<body>
    {% if some_flag %}
    <script type="text/javascript">
        alert('성공적으로 신청하였습니다')
        window.location.href = '/';
    </script>
    {% endif %}

    <!-- 카테고리 입니다. -->
    <div class="category">
        <h2>재능공간</h2>
        <br>
        <hr align="left" style="border: soild 20px #FFB950; width:80%;">
        <br>

        <ul>

            <li><a style="text-decoration: none; color: #FFB950;" href="{% url 'home' %}"> ALL</a></li>
            <br>
            <br>
            <li><a style="text-decoration: none; color: #FFB950;" href="{% url 'category1' %}"> 디자인</a></li>
            <br>
            <br>
            <li><a style="text-decoration: none; color: #FFB950;" href="{% url 'category2' %}"> 영상·사진 </a></li>
            <br>
            <br>
            <li><a style="text-decoration: none; color: #FFB950;" href="{% url 'category3' %}"> 컨설팅 </a></li>
            <br>
            <br>
            <li><a style="text-decoration: none; color: #FFB950;" href="{% url 'category4' %}"> IT·프로그래밍 </a></li>
        </ul>

    </div>

    <div class="grid3">

        <!-- 갤러리 입니다. -->
        <div id="grid3">
            {% for blog in page_posts %}
            <div class="image1">

                <a href="{% url 'detail' blog.id %}"><img src="{{ blog.image.url }}" width="305px" height="195px">
                </a>
                <p style="margin-bottom: -5px; font-size: 14px;"> {{ blog.name }}</p>
                <h1><a style="text-decoration:none; color:#171717;"
                        href="{% url 'detail' blog.id %}">{{ blog.title }}</a>
                </h1>
                <p style="text-align: right; margin-right: 10px;"> {{ blog.pay }}만 원 </p>
            </div>

            {%endfor%}
        </div>
    </div>

    <div class="pagenation">
        <ul style="margin-left: 50vw;">
            {%if page_posts.has_previous%} <li>
                <a style="text-decoration:none; color:gray;" href="?page={{page_posts.previous_page_number}}">이전</a>
            </li>
            {%endif%}
            {%for i in page_posts.paginator.page_range%}
            <li><a style="text-decoration:none; color:gray;" href="?page={{i}}">{{i}}</a></li>
            {%endfor%}

            {%if page_posts.has_next%}
            <li><a style="text-decoration:none; color:gray;" href="?page={{page_posts.next_page_number}}">다음</a>
            </li>
            {%endif%}
        </ul>
    </div>
</body>
{% endblock %}

</html>